{{/* Header */}}

<div class="header">
    {{ if or (not (.Param "hideHeader")) .IsHome }}
    <h1 class="header-title">
        <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
    </h1>

    {{ with site.Menus.main }}
    <nav class="header-menu">
        {{ range . }}
        {{ if $.IsMenuCurrent .Menu . }}
        <p class="small bold">
            <a aria-current="page" href="{{ .URL }}">
                /{{ .Name }}
            </a>
        </p>
        {{ else }}
        <p class="small">
            <a href="{{ .URL }}">
                /{{ .Name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
        {{ partial "components/theme-switch.html" }}
    </nav>
    {{ end }}

    {{ end }}

</div>
