{{- $tags := .Params.tags }}
{{- $summary := .Summary | plainify }}
{{- $modDate := .Lastmod }}{{ if $modDate.IsZero }}{{ $modDate = .Date }}{{ end }}
{
"@context": "https://schema.org",
"@type": "BlogPosting",
"headline": {{ .Title | jsonify }},
"url": {{ .Permalink | jsonify }},
"datePublished": {{ .Date.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
"dateModified": {{ $modDate.Format "2006-01-02T15:04:05Z07:00" | jsonify }},
"description": {{ $summary | jsonify }},
"author": {
"@id": {{ printf "%s#person" .Site.BaseURL | jsonify }}
},
"isPartOf": {
"@id": {{ printf "%s%s/#collection" .Site.BaseURL .Section | jsonify }}
}
{{ with $tags }},
	"keywords": {{ . | jsonify }}
{{ end }}
}